.navbar img{
    height: 50px;
}
.navbar .nav-link{
    width: 150px !important;
}
#region-name{
    float: right;
}
button{
    background: none;
    height: 50px;
    margin-left: -6px;
    width: 150px;
    text-decoration: none;
    border: none;
    border: 2px solid #555;
}
.activated, button:hover{
    background: black;
    color: white;
}
#sectors button{
    display: block;
    width: 200px;
    height: 60px;
}
#sectors .btn{
    display: block!important;
}
.dataBlock{
    margin-top: 20px;
}
#data{
    margin-top: 150px;
    width: 300px;
}
